<a href="https://colab.research.google.com/github/Chhaya-cloud/Chatbot/blob/main/Practice_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Examples of variables
counter = 100          # An integer assignment
miles   = 1000.0       # A floating point
name    = "Python"
is_loan = True      # A string

In [2]:
# Output 1
print (counter)
print (type(counter))

100
<class 'int'>

In [ ]:
# class int means that it is of integer type.

In [3]:
# Output 2
print (miles)
print (type(miles))

1000.0
<class 'float'>

In [ ]:
# class float means that it is of float type.

In [4]:
# Output 3
print (name)
print (type(name))

Python
<class 'str'>

In [ ]:
# class 'str' means that it is of string value.

In [5]:
# Output 4
print (is_loan)
print (type(is_loan))

True
<class 'bool'>

In [ ]:
# class 'bool' means that it is of boolean value.

In [10]:
# if  statement
a = 5
if a > 0:
  print('a is greater than 0')

a is greater than 0

In [ ]:
'''
Space before print() statement in the above block is called as indentation.
Python is indent sensitive programming languaage.
Indentattion indicates hierrarchy of code in python.

In [11]:
# if else statement
a = -5
if a > 0:
  print('a is greater than 0')
else:
  print('a is less than 0')

a is less than 0

In [12]:
# if elif else statement
a = 0
if a > 0:
  print('a is greater than 0')
elif a == 0:
  print('a is equal to 0')
else:
  print('a is less than 0')

a is equal to 0

In [ ]:
# elif is the keyword which stands for else if.
# we can have any number of elif conditions

In [13]:
# for() loop example
fruits = ['apple', 'banane', 'cherry']
for x in fruits:
  print(x)

apple
banane
cherry

In [ ]:
'''
for() loop executes once for every value  in the iterable object
x is called as an iterator  which iterates over  the values of the variable.
'''

In [14]:
# while loop example
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [ ]:
'''
while() loop keep on getting executed until and unless the condition specified  turn false.
we have initialise the value of i to 1
'''

In [15]:
# Nested loop example
adj = ['red', 'big', 'tasty']
fruits = ['apple', 'banana', 'cherry']
for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [ ]:
'''
In the first iteration, x = red and y = apple,
In the second iteration, x = red and y = banana,
In the third iteration, x = red and y = cherry,
In the fourth iteration, x = big and y = apple,
In the fifth iteration, x = big and y = banana,
In the sixth iteration, x = big and y = cherry,
In the seventh iteration, x = tasty and y = apple,
In the eighth iteration, x = tasty and y = banana,
In the ninth iteration, x = tasty and y = cherry.
'''

In [ ]:
# break is used to terminate  the loop in which it is placed.

In [16]:
# break example 1
for letter in 'Python':
  if letter == 'h':
    break
  print('Current Letter :', letter)

Current Letter : P
Current Letter : y
Current Letter : t

In [17]:
# break example 2
var = 10
while var > 0:
  print('Current variable value :', var)
  var = var - 1
  if var == 5:
    break

Current variable value : 10
Current variable value : 9
Current variable value : 8
Current variable value : 7
Current variable value : 6

In [ ]:
# Inbuilt Functions

In [26]:
# Min() Max() Example
print('Minimum of 4, 12, 18 :',min(4,12,18))
print('Maximum of 4, 12, 18 :',max(4,12,18))

Minimum of 4, 12, 18 : 4
Maximum of 4, 12, 18 : 18

In [20]:
# Absolute Value
print('Absolute value of -45 :',abs(-45))

Absolute value of -45 : 45

In [22]:
# User defined Function (UDF)
def add_numbers(x,y):
  s = x + y
  return s

In [23]:
# Driver code
add_numbers(2, 3)

5

In [27]:
# Lambda Function
x = lambda a : a + 10
print(x(5))

15

In [ ]:
# LAmbda funcations are used  when we have a single line body of the UDF.

In [28]:
# lambda Function
y = lambda a, b : a * b
print(y(5, 6))

30

In [30]:
# lambda Function
z = lambda a, b, c : a * b + c
print(z(5, 6, 2))

32

In [33]:
# Map FUnction
# Creating a UDF
def sqr(n):
  return n ** 2

In [34]:
# We will create a list
nums = [1, 2, 3, 4, 5]

In [37]:
## MApping the function
res = map(sqr, nums)
print(list(res))

[1, 4, 9, 16, 25]

In [40]:
# FIlter FUnction Example
ages = [5, 12, 15, 18, 20,25]

In [41]:
## Creating  a function
def myFunc(x):
  if x < 18:
    return False
  else:
    return True

In [42]:
# Using the Filter function
adults = filter(myFunc, ages)
print(list(adults))

[18, 20, 25]

In [ ]:
# String Operation and Manipulation

In [43]:
# creating a String
s = 'Python'
print(s)
print(type(s))

Python
<class 'str'>

In [ ]:
# Strings are indexed in python starting from 0.

In [44]:
# Accessing the elements of string through indexes
print('First element:', s[0])

First element: P

In [45]:
# Accessing the elementsfrom right
print('Last element:', s[-1])

Last element: n

In [ ]:
# Negative Indexing means you are moving from right to left.
# Positive Indexing means  you are moving from left to right.

In [46]:
# Question ->
s = 'Python'
print(s[3])

h

In [47]:
# Question ->
s = 'Python'
print(s[-3])

h

In [ ]:
# Concept of SLicing -> (start index : stop index)
# ELement at the stopping index is not inculded.

In [48]:
# Exmaple
s = 'Procastination'
print(s[2:5])

oca

In [49]:
# Exmaple
s = 'Procastination'
print(s[4:9])

astin

In [50]:
# Concept of step in slicing  -> STring[start : stop : step]
s = 'Procastination'
print(s[2:9:2])

oatn

In [ ]:
# Default value of step is 1

In [53]:
# Deleting a string
s = 'Python'
print('Output :', s)
del s
print('Output :', s)

Output : Python

NameError: name 's' is not defined

In [54]:
# Formatting strings -> Python provides  different ways  to include objects in strings
name = 'Avishek'
age = 27
print(f"Name : {name}, Age :', {age}")

Name : Avishek, Age :', 27

In [55]:
# Format()
s = "My name is {} and I am {} years old". format("Avishek", 27)
print(s)

My name is Avishek and I am 27 years old

In [ ]:
# Basic Data Structure-> Lists, Tuple, Set, Dictionary

In [ ]:
'''
Python Lists are Heterogenous (elements of different data types  can be accomodated in it)
Ordered (Sequence in which you give the data to a list, it preserves that order),
Mutable (values can be changed once you initialize the list),
They are declared with square brackets
'''

In [56]:
# Creating a list
a = [1,2,3,4,5]
print(a)
print(type(a))

[1, 2, 3, 4, 5]
<class 'list'>

In [57]:
# Lists are Mutable
Is = ['a', 'b', 'c', 'd', 'e']
print('Actual List :', Is)
Is[0] = 'p'
print('Updated List: ', Is)

Actual List : ['a', 'b', 'c', 'd', 'e']
Updated List:  ['p', 'b', 'c', 'd', 'e']

In [59]:
# Append Operation
a = [10, 15, 20]
print('Actual List :', a)
a.append(25)
print('Updated List: ', a)

Actual List : [10, 15, 20]
Updated List:  [10, 15, 20, 25]

In [61]:
# Lists are Heterogenous
a = [1, 5.0, 'Python', True]
print(a)
print(type(a))

[1, 5.0, 'Python', True]
<class 'list'>

In [62]:
# lists allow duplicate entries
a = [1,1,1,2,2,23,3,4,4,5]
print(a)
print(type(a))

[1, 1, 1, 2, 2, 23, 3, 4, 4, 5]
<class 'list'>

In [63]:
# Accessing the elements of the lists through indexing
Is = ['a', 'b', 'c', 'd', 'e']
print('First Elemsnt :', Is[0])
print('Last Element :', Is[-1])

First Elemsnt : a
Last Element : e

In [64]:
# insert(index, element)
a = [100,200,300,400,500]
print('Actual List :', a)
a.insert(2, 300)
print('Updated List :', a)

Actual List : [100, 200, 300, 400, 500]
Updated List : [100, 200, 300, 300, 400, 500]

In [65]:
# extend() method
a = [100,200,300,400,500]
print('Actual List :', a)
a.extend([600,700,800])
print('Updated List :', a)

Actual List : [100, 200, 300, 400, 500]
Updated List : [100, 200, 300, 400, 500, 600, 700, 800]

In [66]:
# Removing elements from a list
a = [100,200,300,400,500]
print('Actual List :', a)
a.remove(300)
print('Updated List :', a)

Actual List : [100, 200, 300, 400, 500]
Updated List : [100, 200, 400, 500]

In [67]:
# Removing the elements from a list
a = [100,200,300,400,500]
print('Actual List :', a)
del a[3]
print('Updated List :', a)

Actual List : [100, 200, 300, 400, 500]
Updated List : [100, 200, 300, 500]

In [68]:
# Doubt
a = [100,200,300,400,500]
print('Actual List :', a)
del a
print('Updated List :', a)

Actual List : [100, 200, 300, 400, 500]

NameError: name 'a' is not defined

In [ ]:
'''
Python tuples are Heterogenous (elements of different data types  can be accomodated in it)
Ordered (Sequence in which you give the data to a list, it preserves that order),
Mutable (values cannot be changed once you initialize the tuple),
They are declared with round brackets()
'''

In [70]:
# Tuples are immutable
a = (1,2,3,4,5)
print('Actual Tuple :', a)
a[0] = 10
print('Updated Tuple :', a)

Actual Tuple : (1, 2, 3, 4, 5)

TypeError: 'tuple' object does not support item assignment

In [71]:
# Accessing the elements of a tuple
tup = ('a','b','c','d','e')
print('Tuple:', tup)
print('First Element :', tup[0])
print('Last Element :', tup[-1])

Tuple: ('a', 'b', 'c', 'd', 'e')
First Element : a
Last Element : e

In [72]:
# Slicing a tuple
t = (1,2,3,4,5,6,7,8,9,10)
print(t[2:5])

(3, 4, 5)

In [ ]:
# WHile slicing last element is not included

In [73]:
# Getting the length of a tuple
t = (1,2,3,4,5,6,7,8,9,10)
print(len(t))

10

In [74]:
# Converting a list to a tuple
a = [1,2,3]
print(a)
print(type(a))
b = tuple(a)
print(b)
print(type(b))

[1, 2, 3]
<class 'list'>
(1, 2, 3)
<class 'tuple'>

In [ ]:
'''
Python sets are Heterogenous (elements of different data types  can be accomodated in it)
Unordered (Sequence in which you give the data to a set, it does not preserve that order),
Immutable (values cannot be changed once you initialize the set),
They are declared with curly brackets{} or with set()
Sets do not allow duplicate values in them.
'''

In [75]:
# Creating a set
a = {1,2,3,4,5}
print('Set :', a)
print('Type :', type(a))

Set : {1, 2, 3, 4, 5}
Type : <class 'set'>

In [76]:
# Sets  do not allow  duplicate values in them.
a = {1,2,3,4,5,1,2,3,4,5}
print('Set :', a)
print('Type :', type(a))

Set : {1, 2, 3, 4, 5}
Type : <class 'set'>

In [77]:
# Sets are unordered
a = {3,1,2,4,5,9,3,2}
print('Set :', a)
print('Type :', type(a))

Set : {1, 2, 3, 4, 5, 9}
Type : <class 'set'>

In [ ]:
'''
The Order in which data is given  and
the order in which data is retrieved is not same.
'''

In [78]:
# Sets cannot be indexed
set1 = {'a','b','c','d','e'}
print('First Element :', set1[0])

TypeError: 'set' object is not subscriptable

In [79]:
# add() method  in sets
set1  = {1,2,3}
print('Actual Set :', set1)
set1.add('5')
print('Updated Set :', set1)

Actual Set : {1, 2, 3}
Updated Set : {1, 2, 3, '5'}

In [80]:
# update() method in sets
set1  = {1,2,3}
print('Actual Set :', set1)
set1.update([4,5,6])
print('Updated Set :', set1)

Actual Set : {1, 2, 3}
Updated Set : {1, 2, 3, 4, 5, 6}

In [81]:
# Are sets heterogenous?
set1 = {1, 5.0, 'Python', True}
print(set1)
print(type(set1))

{1, 5.0, 'Python'}
<class 'set'>

In [82]:
# Using remove() method
set1 = {1,2,3,4,5}
print('Actual Set :', set1)
set1.remove(4)
print('Updated Set :', set1)

Actual Set : {1, 2, 3, 4, 5}
Updated Set : {1, 2, 3, 5}

In [83]:
# # Using remove() method
set1 = {1,2,3,4,5}
print('Actual Set :', set1)
set1.remove(7)
print('Updated Set :', set1)

Actual Set : {1, 2, 3, 4, 5}

KeyError: 7

In [84]:
# Using Discard method
set1 = {1,2,3,4,5}
print('Actual Set :', set1)
set1.discard(4)
print('Updated Set :', set1)

Actual Set : {1, 2, 3, 4, 5}
Updated Set : {1, 2, 3, 5}

In [85]:
# Using Discard method
set1 = {1,2,3,4,5}
print('Actual Set :', set1)
set1.discard(7)
print('Updated Set :', set1)

Actual Set : {1, 2, 3, 4, 5}
Updated Set : {1, 2, 3, 4, 5}

In [86]:
# pop() method
set1 = {1,2,3,4,5}
val = set1.pop()
print('Pop element :', val)
print('Set :', set1)

Pop element : 1
Set : {2, 3, 4, 5}

In [87]:
# Clear() method
set1 = {1,2,3,4,5}
print('Actual Set :', set1)
set1.clear()
print('Updated Set :', set1)

Actual Set : {1, 2, 3, 4, 5}
Updated Set : set()

In [ ]:
# Operations  on Set ->

In [88]:
# Union() Operation
a = {'Adarsh', 'Divyanshu', 'Abhishek'}
b = {'Sateesh','Mrunay', 'Kedar'}
print('Actual Set 1 :', a)
print('Actual Set 2 :', b)
print('Union:\n', a.union(b))

Actual Set 1 : {'Abhishek', 'Divyanshu', 'Adarsh'}
Actual Set 2 : {'Sateesh', 'Mrunay', 'Kedar'}
Union:
 {'Sateesh', 'Kedar', 'Abhishek', 'Mrunay', 'Divyanshu', 'Adarsh'}

In [ ]:
# Intersect()

In [90]:
a = {'Adarsh', 'Divyanshu', 'Abhishek'}
b = {'Sateesh','Mrunay', 'Kedar', 'Abhishek'}
print('Actual Set 1 :', a)
print('Actual Set 2 :', b)
print('Union:\n', a.intersection(b))

Actual Set 1 : {'Abhishek', 'Divyanshu', 'Adarsh'}
Actual Set 2 : {'Sateesh', 'Abhishek', 'Mrunay', 'Kedar'}
Union:
 {'Abhishek'}

In [ ]:
# difference()

In [91]:
a = {'Adarsh', 'Divyanshu', 'Abhishek'}
b = {'Sateesh','Mrunay', 'Kedar', 'Abhishek'}
print('Actual Set 1 :', a)
print('Actual Set 2 :', b)
print('Union:\n', a.difference(b))

Actual Set 1 : {'Abhishek', 'Divyanshu', 'Adarsh'}
Actual Set 2 : {'Sateesh', 'Abhishek', 'Mrunay', 'Kedar'}
Union:
 {'Divyanshu', 'Adarsh'}

In [ ]:
# frozenset() -> Immutable

In [92]:
# Creating of frozenset
fset = frozenset([1,2,3,4,5])
print('Frozen Set :', fset)
print('Type :', type(fset))

Frozen Set : frozenset({1, 2, 3, 4, 5})
Type : <class 'frozenset'>

In [ ]:
# Dictionary in Python->

In [94]:
# Creating of Dictionary
d1 = {
    1: 'List',
    2: 'Tuple',
    3: 'Set',
    4: 'Dictionary'
}
print('Dictionary:\n', d1)
print('Type:', type(d1))
print('Keys:', d1.keys())
print('Values:', d1.values())

Dictionary:
 {1: 'List', 2: 'Tuple', 3: 'Set', 4: 'Dictionary'}
Type: <class 'dict'>
Keys: dict_keys([1, 2, 3, 4])
Values: dict_values(['List', 'Tuple', 'Set', 'Dictionary'])

In [95]:
# Extracting the value associated w.r.t a key
print('Value associated with key 1:', d1[1])

Value associated with key 1: List

In [96]:
# Dictionary is mutable
d1[3] = 'Frozen set'
print('Dictionary:\n', d1)
print('Type :', type(d1))

Dictionary:
 {1: 'List', 2: 'Tuple', 3: 'Frozen set', 4: 'Dictionary'}
Type : <class 'dict'>

In [97]:
# Removing elements  from a list
print('Actual Dictionary :', d1)
del d1[4]
print('Updated Dictionary :', d1)

Actual Dictionary : {1: 'List', 2: 'Tuple', 3: 'Frozen set', 4: 'Dictionary'}
Updated Dictionary : {1: 'List', 2: 'Tuple', 3: 'Frozen set'}

In [100]:
# pop() method
val = d1.pop(2)
print('Pop Element :', val)
print('Dictionary :', d1)

Pop Element : Tuple
Dictionary : {3: 'Frozen set'}

In [101]:
# popitem()
key, val = d1.popitem()
print ('key :', key)
print ('Value :', val)
print ('Dictionary :', d1)

key : 3
Value : Frozen set
Dictionary : {}

In [103]:
# Adding a key value pair
d1[5] = 'Frozenset'
print('Dictionary :', d1)

Dictionary : {1: 'List', 2: 'Tuple', 3: 'Set', 4: 'Dictionary', 5: 'Frozenset'}

In [102]:
# Extracting the pair of elements
d1 = {
    1: 'List',
    2: 'Tuple',
    3: 'Set',
    4: 'Dictionary'
}
for key, val in d1.items():
  print(f"{key}: {val}")

1,: List
2,: Tuple
3,: Set
4,: Dictionary