<a href="https://colab.research.google.com/github/Chhaya-cloud/Chatbot/blob/main/Python_Basic_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Problem Statement:
#This assignment aims to develop foundational skills in Python programming, covering essential
#concepts like Lists, Tuples, Dictionaries, Sets, Conditional Statements (if-else), Loops (for and
#while), and loop control statements (break and continue). By completing this assignment,
#students will gain hands-on experience in basic Python programming constructs necessary for
#roblem-solving and data handling.

In [10]:
#Print a small message
print('Hello Python')

Hello Python

In [12]:
# Exploring Data Types
# Integer
age = 25
#Float
height = 5.9
name = "Alice"
#Boolean
is_student = True
print(type(age), type(height), type(name), type(is_student))

<class 'int'> <class 'float'> <class 'str'> <class 'bool'>

In [ ]:
# List Operations

In [13]:
from typing import List
# Create a list
Fruits = ['Apple', 'Banana', 'Kiwi', 'Blueberries']

In [14]:
# Append
Fruits.append('Mango')

In [16]:
# Remove
Fruits.remove('Kiwi')

In [20]:
# Pop
Fruits.pop(2)

'Mango'

In [24]:
# Create a list
Fruits = ['Apple', 'Banana', 'Kiwi', 'Blueberries']
description = ['juicy', 'sweet', 'Sour', 'Blue']

In [25]:
# Slicing
Fruits[1:3]

['Banana', 'Kiwi']

In [28]:
# Slicing
Fruits[1:3][1]

'Kiwi'

In [32]:
# Tuple operations
# Creating a tuple
colors = ("red", "blue", "green")

# Accessing elements
print(colors[1])

blue

In [33]:
#Understanding Tuple Immutability
# Modify a tuple
colors[1] = "yellow"

TypeError: 'tuple' object does not support item assignment

In [34]:
# Use Tuple unpacking
a,b,c = colors
print(a,b,c)

red blue green

In [6]:
# Creating a dataset -> Dictionary of student names and marks
student_marks = {
    'Alice' : 85,
    'Rishita' : 95,
    'Bobby' : 56,
    'Prince': 67,
    'Maira': 88,
    'Misha': 89,
    'Raju': 78
}

In [8]:
# Display the Dataset
print(student_marks)

{'Alice': 85, 'Rishita': 95, 'Bobby': 56, 'Prince': 67, 'Maira': 88, 'Misha': 89, 'Raju': 78}

In [36]:
# Perform operations like adding, updating, and deleting key-value pairs.
# Adding a new student
student_marks['Rahul'] = 88

In [37]:
#Updating a value
student_marks['Bobby'] = 90

In [38]:
# Display the Dataset
print(student_marks)

{'Alice': 85, 'Rishita': 95, 'Bobby': 90, 'Prince': 67, 'Maira': 88, 'Misha': 89, 'Raju': 78, 'Rahul': 88}

In [39]:
# Deleting a key
del student_marks['Raju']

In [40]:
# Display the Dataset
print(student_marks)

{'Alice': 85, 'Rishita': 95, 'Bobby': 90, 'Prince': 67, 'Maira': 88, 'Misha': 89, 'Rahul': 88}

In [44]:
#Iterate through a dictionary using loops
for student, mark in student_marks.items():
    print(f"{student}:{mark}")

Alice:85
Rishita:95
Bobby:90
Prince:67
Maira:88
Misha:89
Rahul:88

In [46]:
# Set Operations
# Creating a sets and performing operations
set1 = {"apple", "banana", "cherry"}
set2 = {"carrot", "broccoli", "apple"}
#Union
Union_set = set1.union(set2)
print(Union_set)

{'banana', 'carrot', 'broccoli', 'apple', 'cherry'}

In [47]:
#Intersection
Intersection_set1 = set1.intersection(set2)
print(Intersection_set1)

{'apple'}

In [60]:
# Difference
print(set1 - set2)

set()

In [54]:
 #Creating a sets and performing operations
 set1 = {24,24,24}
 set2 = {34,24,20}
#Union
Union_set = set1.union(set2)
print(Union_set)

{24, 34, 20}

In [55]:
#Intersection
Intersection_set1 = set1.intersection(set2)
print(Intersection_set1)

{24}

In [59]:
# Difference
print(set1 - set2)

set()

In [61]:
# Understanding Uniqueness
unique_numbers = {1, 2, 3, 4, 5, 1, 2, 3}
print(unique_numbers)

{1, 2, 3, 4, 5}

In [ ]:
# Conditional Statements

In [62]:
# Using If-Else
age = int(input("Enter your age: "))
if age >= 18:
    print("You are an adult.")
else:
    print("You are a minor.")

Enter your age: 34
You are an adult.

In [64]:
# Using Nested if-else
Number = int(input("Enter a number: "))
if Number > 0:
    print("Positive number")
elif Number < 0:
    print("Negative number")
else:
    print("Zero")

Enter a number: 8
Positive number

In [ ]:
# looping constructs

In [65]:
# Using For loop
for i in range(1, 6):
    print(i)

1
2
3
4
5

In [73]:
# Using While loop
count = 0
while count<5:
  print(count)
  count += 1

0
1
2
3
4

In [78]:
# Using Break and Continue
for num in range(1, 11):
    if i == 3:
      continue
      if i == 7:
        break
    print(i)

5
5
5
5
5
5
5
5
5
5

In [79]:
# Problem solving tasks
# Find the largest number in the list
numbers = [34,46,23,45,2433,23,23,24,325]
largest = max(numbers)
print(largest)

2433

In [81]:
# Count frequency of elements in the list
numbers = [1,1,1,1,5,55,5,5,2,2,2,2,2,7,7,77,]
frequency = {}
for num in numbers:
    if num in frequency:
        frequency[num] += 1
    else:
        frequency[num] = 1
        print(frequency)

{1: 1}
{1: 4, 5: 1}
{1: 4, 5: 1, 55: 1}
{1: 4, 5: 3, 55: 1, 2: 1}
{1: 4, 5: 3, 55: 1, 2: 5, 7: 1}
{1: 4, 5: 3, 55: 1, 2: 5, 7: 2, 77: 1}

In [ ]:
# Find the student with highest marks

In [83]:
# Creating a dataset -> Dictionary of student names and marks
student_marks = {
    'Alice' : 85,
    'Rishita' : 95,
    'Bobby' : 56,
    'Prince': 67,
    'Maira': 88,
    'Misha': 89,
    'Raju': 78
}
print(student_marks)

{'Alice': 85, 'Rishita': 95, 'Bobby': 56, 'Prince': 67, 'Maira': 88, 'Misha': 89, 'Raju': 78}

In [84]:
top_student = max(student_marks, key=student_marks.get)
print(top_student)

Rishita

In [85]:
# Fibonacci series with while loop
a, b = 0, 1
while b < 100:
    print(b)
    a, b = b, a + b

1
1
2
3
5
8
13
21
34
55
89

In [86]:
# Remove duplicates from the list using a set
numbers = [1, 2, 2, 3, 4, 4, 5]
unique_numbers = list(set(numbers))
print(unique_numbers)

[1, 2, 3, 4, 5]